body {
	background-color: floralwhite;
	opacity: 0.9 ;
	font-family: 'Merriweather', serif;
}
header {
	width: 75vw;
	margin: 25px auto;
	background-color: dimgrey;
}
main {
	display: flow-root;
}
#p1 {
	width: 110vw;
}
#p1 .p1-1{
	background-color: whitesmoke;
	width: 7vw;
	height: 7vw;
	background-color: #FFEEB9;
	float: left;
	opacity: 60%;
	margin: -10px;
	transform: skew(30deg);
	border: 5px solid orange;
}
#p1 .p1-2{
	width: 5vw;
	height: 5vw;
	background-color: deepskyblue;
	border-radius: 100%;
	display: inline-block;
	margin: -12px;
	float: left;
	opacity: 40%;
	border: 5px solid dodgerblue;
}
#p1 .p1-3{
	width: 8vw;
	height: 8vw;
	background-color: lavender;
	border-radius: 100%;
	margin: -12px;
	float: left;
	opacity: 70%;
	border: 5px solid deeppink;
}
#p2 {
	width: 1500px;
	margin: auto;
}
#p2 .p2-1 {
	background-color: #FF718B;
	width: 90px;
	height: 90px;
	float: left;
	margin-top: 5px;
	margin-bottom: 80px;
}
.p2-1 {}
#p2 .p2-2 {
	width: 60px;
	height: 40px;
	background-color: #FF9778;
	float: left;
	margin-top: 5px;
	transform: skew(0deg, 0deg);
}
#p2 .p2-3 {
	width: 30px;
	height: 50px;
	background-color: #F4B8FF;
	float: left;
	margin-top: 45px;
	margin-left: -60px;
}
#p2 .p2-4 {
	width: 30px;
	height: 50px;
	background-color: #C2FFDB;
	float: left;
	margin-top: 45px;
	margin-left: -30px;
}
#p2 .p2-5 {
	width: 40px;
	height: 50px;
	background-color: #9CD9FF;
	float: left;
	margin-top: 95px;
	margin-left: -150px;

}
#p2 .p2-6 {
	width: 120px;
	height: 50px;
	background-color: #FFE59A;
	float: left;
	margin-top: 95px;
	margin-left: -120px;
}
#p3 {
	margin: 40px;
	width: 1500px;

}
#p3 .p3-1 {
	width: 7vw;
	height: 7vw;
	background-color: #CEB8FF;
	border-radius: 100%;
	display: inline-block;
	margin-left: -1.5vw;
	margin-top: -1.5vw;
	float: left;
	opacity: 40%;
	border: 5px solid #B798FF;
}
#p3 .p3-2 {
	width: 7vw;
	height: 7vw;
	background-color: #B8D5FF;
	border-radius: 100%;
	display: inline-block;
	margin-left: -1.5vw;
	margin-top: -1.5vw;
	float: left;
	opacity: 40%;
	border: 5px solid #89BAFF;
}
#p3 .p3-3 {
	width: 7vw;
	height: 7vw;
	background-color: #FFCDFC;
	border-radius: 100%;
	display: inline-block;
	margin-left: -1.5vw;
	margin-top: -1.5vw;
	float: left;
	opacity: 40%;
	border: 5px solid #FFA5F9;
}
#p4 {
	margin: 40px;
	background-color: dimgrey;
}
#p4 .p4-1 {
	width: 6vw;
	height: 6vw;
	background-color: #FFB57A;
	float: left;
	transform: rotate(60deg);
	margin: 1.2vw;
}
#p4 .p4-2 {
	width: 6vw;
	height: 6vw;
	background-color: #A2D9A1;
	float: left;
	transform: rotate(-45deg);
	margin: 1.2vw;
}
#p4 .p4-3 {
	width: 40px;
	height: 40px;
	background-color: #FFEE75;
	border-radius: 100%;
	display: inline-block;
	float: left;
}
#p4 .p4-4 {
	width: 40px;
	height: 40px;
	background-color: #FF93A9;
	border-radius: 100%;
	display: inline-block;
	float: left;
}
#p5 {
	width: 100vw;
	margin: 1px auto;
	background-image: linear-gradient(#FFC29A,#FFC3EA,#A0E6FF,#B3ADFF);
}
#p5 .p5-1 {
	width: 3vw;
	height: 7vw;
	background-color: #871B31;
	border-radius: 100%;
	display: inline-block;
	float: left;
	margin: 3vw, 4vw, 5vw, 6vw;
}
#p5 .p5-2 {
	width: 3vw;
	height: 7vw;
	background-color: #D85904;
	border-radius: 100%;
	display: inline-block;
	float: left;
	transform: rotate(60deg);
	margin: 2.2vw;
}
#p5 .p5-3 {
	width: 3vw;
	height: 7vw;
	background-color: #CFA002;
	border-radius: 100%;
	display: inline-block;
	float: left;
	transform: rotate(120deg);
	margin: 8vw;
	margin-left: -5vw;
}
#p5 .p5-4 {
	width: 3vw;
	height: 7vw;
	background-color: #1B7134;
	border-radius: 100%;
	display: inline-block;
	float: left;
	transform: rotate(180deg);
	margin: 10vw;
	margin-left: -16.2vw;
}
#p5 .p5-5 {
	width: 3vw;
	height: 7vw;
	background-color: #095397;
	border-radius: 100%;
	display: inline-block;
	float: left;
	transform: rotate(240deg);
	margin: 8vw;
	margin-left: -21.5vw;
}
#p5 .p5-6 {
	width: 3vw;
	height: 7vw;
	background-color: #4C2086;
	border-radius: 100%;
	display: inline-block;
	float: left;
	transform: rotate(300deg);
	margin: 2.2vw;
	margin-left: -21.5vw;
}
