body {
	background-color: lavenderblush ;
}
h1 {font-
style: italic;
.white {
	color: white;
}
a:active{;
	colore: yellow;
.yellow {
	color: yellow;
	font-size: 50;
}
<h1><span class="yellow">word</span>more word</h1>
<h1 class="white">What's Done is done</h1>