*{
	margin: 5px;
	padding: 10px;
	box-sizing: border-box;
}
body {
	background-color: #C3EDCE;
}
h1, h2, h3 {
	font-family: "trajan-pro-3", serif;
	color: #0C3C11;
}
p {
	font-family: "nimbus-sans", sans-serif;
	width: 60%;
	color: #207837;
}
ul {
	font-family: "nimbus-sans", sans-serif;
	color: #207837;
}
.blob1 {
	color: darkred;
}
.blob2 {
	color: purple;
}
.blob3 {
	color: burlywood;
}
.blob4 {
	color: mediumslateblue;
}
#entrance {
	font-style: italic;
	font-weight: 700;
	color: darkgreen;
}
#listing {
	font-weight: 300;
	color: sandybrown;
}
#listing2 {
	font-size: 30px;
	color: mintcream;
}
